@import "theme.css";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--ff-open-sans);
    background-color: var(--mavi-9);
    color: var(--siyah);
    font-weight: 500;
    margin: 1rem;
    height: 300vh;
}

h1{
    background-color: var(--koyu-kirmizi);
    width: 20rem;
    padding: .5rem;
    border: 1px solid black;
    border-radius: 30px;
    margin: 2rem auto;
    text-align: center;
    color: black;
}

.header{
    background-color: var(--koyu-yesil);
    padding: 1rem;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.navbar{
    display: flex;
    justify-content: flex-start;
    background-color: var(--gri-3);
    margin: 0.5rem 0;
    
}

.navbar a{
    text-decoration: none;
    color: var(--beyaz);
    padding: 1rem 1.5rem;
    transition: all .6s;

}

.navbar a:hover{
    background-color: var(--gri-7);
    color: var(--siyah);
    font-weight: 600;
}

.row{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    
    
}

.col{
    padding: 1rem;
    width: 25%;
}

.fs{
    /* width: 30%; */
    background-color: var(--gri-5);
}

.aws{
    /* width: 20%; */
    background-color: var(--gri-6);
}

.data{
    background-color: var(--gri-7);
    /* width: 30%; */
}

.cms{
    background-color: var(--gri-8);
    /* width: 20%; */
}

@media screen and (min-width: 600px) and (max-width: 992px){
    body{
        background-color: var(--acik-kirmizi);
        color: var(--beyaz);
    }
    .row{
        gap: 0.5rem 0;
    }
    .col{
        width: 50%;
    }
}

@media screen and (min-width:0) and (max-width:600px) {
    body{
        background-color: lightblue
    }
    h1{
        color: var(--beyaz);
    }

    .header{
        display: none;
    }
    .col{
        width: 100%;
        color: var(--beyaz);
        margin: .5rem 0;
    }
    .navbar{
        flex-direction: column;
        text-align: center;
        margin: .5rem 0;
    }
    
}